WcfWebService/wfTestFilmler/Web References/WSFilmServis/WSFilmler.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllFilmlerByFilmTuru">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FilmTuru" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFilmlerByFilmTuruResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFilmlerByFilmTuruResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllFilmlerByFilmTuruSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFilmlerByFilmTuru" />
  </wsdl:message>
  <wsdl:message name="GetAllFilmlerByFilmTuruSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFilmlerByFilmTuruResponse" />
  </wsdl:message>
  <wsdl:portType name="WSFilmlerSoap">
    <wsdl:operation name="GetAllFilmlerByFilmTuru">
      <wsdl:input message="tns:GetAllFilmlerByFilmTuruSoapIn" />
      <wsdl:output message="tns:GetAllFilmlerByFilmTuruSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSFilmlerSoap" type="tns:WSFilmlerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllFilmlerByFilmTuru">
      <soap:operation soapAction="http://tempuri.org/GetAllFilmlerByFilmTuru" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSFilmlerSoap12" type="tns:WSFilmlerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllFilmlerByFilmTuru">
      <soap12:operation soapAction="http://tempuri.org/GetAllFilmlerByFilmTuru" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSFilmler">
    <wsdl:port name="WSFilmlerSoap" binding="tns:WSFilmlerSoap">
      <soap:address location="http://localhost:36718/WSFilmler.asmx" />
    </wsdl:port>
    <wsdl:port name="WSFilmlerSoap12" binding="tns:WSFilmlerSoap12">
      <soap12:address location="http://localhost:36718/WSFilmler.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>